# Ignores any folder that begins with  a period
.*/ 

**/__pycache__/
.DS_Store
# Ignores any folder or file with env in its name
*env*

db.sqlite3
celery.beat.log
celery.log
celerybeat-schedule.db
dump.rdb

OlukotunJoshuaProject.zip
